.place__title {
  font-size: 72px;
  color: white;
  font-weight: 900;
  line-height: 1.05;
  margin: 0;
  max-width: 460px;
}

@media screen and (max-width: 1024px) {
  .place__title {
    max-width: 460px;
  }
}

@media screen and (max-width: 800px) {
  .place__title {
    font-size: 42px;
    line-height: 1.10;
    max-width: 340px;
  }
}

@media screen and (max-width: 320px) {
  .place__title {
    font-size: 32px;
    line-height: 1.09;
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
