.cover {
  max-width: 1184px;
  min-height: 740px;
  margin-right: 48px;
  margin-left: 48px;
  position: relative;
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cover::before {
  content: '';
  position: absolute;
  background-color: rgba(42, 44, 47, 0);
  width: 100%;
  height: 100%;
}

.cover:hover::before {
  background-color: rgba(42, 44, 47, 0.8);
  transition-duration: 0.7s;
  transition-timing-function: ease-in-out;
  z-index: 1;
}

@media screen and (max-width: 1024px) {
  .cover {
    margin: 0;
    max-width: 1024px;
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    max-width: 768px;
    min-height: 480px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    max-width: 320px;
    min-height: 200px;
  }
}
